.ticket {
    box-sizing: border-box;
    width: 50%;
    border-radius: 15px;
    margin: 0 10px 10px 10px;
    padding: 0 10px 0px 0px;
    font-family:'Exo';
    background-color: #c0b9b6;
    position: relative;
    min-height: 104px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.ticketheader {
    text-shadow: 1.5px 0px whitesmoke;
    font-size: larger;
    padding-bottom: 6px;
    padding-top: 10px;
    padding-left: 10px;
}

.ticketbody {
    padding-left: 10px;
    margin-bottom: 5px;
    max-height: 150px;
    overflow: auto;
}

.ticketFooter {
    display: flex;
    justify-content: space-between;
    background-color: rgb(214, 205, 205);
    width: 100%;
    padding: 10px 5px 10px 5px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 11px;
    font-weight: bold;
}

.emailAndTime {
    padding-left: 10px;
}

.label1 {
    box-shadow: 2px 2px rgb(104, 129, 133);
    border-radius: 10px;
    background-color: rgb(240, 242, 247);
    width: fit-content;
    padding: 3px 6px 3px 6px;
    margin: 2px 2px 2px 2px;
    font-size: 1.1em;
}

.navbar {
    position: fixed;
    background-color: #05242e;
    width: 100%;
    box-sizing: border-box;
    top:0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    font-family:'Exo';
    z-index: 2;
}

.search {   
    margin-left: 20px;
    margin-top: 5px;
} 


#searchInput {
    border-radius: 10px;
    margin-top: 5px;
    width: 35vh;
    height: 20px;
    margin-left: 3px;
}

#searchInput:focus {
   outline:none ;
}

h1 {
    color: white;
    font-size: 40px;
    text-shadow: 2.5px 0px #323e47;
}

.ticketlist {
   display: flex;
   flex-flow: column;
   align-items: center;
}
.ticket .favoriteButton {
    position: absolute;
    z-index: 1;
    border-top-left-radius: 6px;
    visibility: hidden;
    top: 12px;
    right: 100%;
    height: 40px;
    border:none;
    background-color: rgb(214, 205, 205);
    width: 23px;
}

.ticket .doneButton {
    position: absolute;
    z-index: 1;
    border-bottom-left-radius: 6px;
    visibility: hidden;
    top: 52px;
    right: 100%;
    height: 40px;
    border:none;
    background-color: rgb(214, 205, 205);
}

.ticket:hover .favoriteButton {
    visibility: visible;
}

.ticket:hover .doneButton {
    visibility: visible;
}

.favoriteButton:hover {
    visibility: visible;
}

.doneButton:hover {
    visibility: visible;
}

.favoriteButton:focus {
    outline:none;
 }

.doneButton:focus {
    outline:none;
 }

body {
    background-color: #eee7e7;
}

.fa-search {
    color: white;
}
.fa-star {
    color: rgb(189, 160, 68);
}

.fa-star-o {
    color: rgb(189, 160, 68);
}

.fa-calendar {
    color: rgb(189, 160, 68);  
}

.fa-plus-square {
    color: rgb(189, 160, 68);  
}

.fa-check-square {
    color: rgb(189, 160, 68);  
}

.fa-minus-square {
    color: rgb(189, 160, 68);  
}

.hideEye:hover .toolTipFavorite{
    visibility: visible;
}

.ticketbody::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
  }
  
  /* Track */
  .ticketbody::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
  }
   
  /* Handle */
  .ticketbody::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .ticketbody::-webkit-scrollbar-thumb:hover {
    background: #555; 
    border-radius: 10px;
  }

  .hideTicketsCounter {
    padding-top:90px;
    padding-bottom: 10px;
    text-align: center;
    font-size: smaller;
    color: gray;
    font-family:'Exo';
  }

  #hideTicketButton {
      background-color: transparent;
      border: transparent;
  }

  #hideTicketButton:focus {
    outline:none ;
 }

  .flexheader {
      display: flex;
      justify-content: space-between;
  }

  #restoreHideTickets {
    background-color: transparent;
    border: transparent;
    font-family:'Exo';
    font-weight: bold;
  }

  #restoreHideTickets:focus {
    outline:none ;
 }

 .favoritesDisplay {
    background-color: transparent;
    border: transparent;
    margin-left: 10px;
    margin-top: 8px;
    position: relative;
    display: inline-block;
 }

 .doneDisplay {
    background-color: transparent;
    border: transparent;
    margin-left: 10px;
    margin-top: 8px;
    position: relative;
    display: inline-block;
 }
 
 .newTicketButton {
    background-color: transparent;
    border: transparent;
    margin-left: 10px;
    margin-top: 8px;
    position: relative;
    display: inline-block; 
 }
 
 .sortButton {
    background-color: transparent;
    border: transparent;
    margin-left: 10px;
    margin-top: 8px;
    position: relative;
    display: inline-block;
 }

 .favoritesDisplay:focus {
    outline:none ;
 }

 .sortButton:focus {
    outline:none ;
 }

 .doneDisplay:focus {
    outline:none ;
 }

 .newTicketButton:focus {
    outline:none ; 
 }

 .toolTipFavorite {
    visibility: hidden;
    width: 100px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 3;
    font-size: smaller;
    margin-left: 8px;
 }

 .sortButton:hover .toolTipFavorite {
    visibility: visible;
}

 .newTicketButton:hover .toolTipFavorite {
    visibility: visible;
}

.favoritesDisplay:hover .toolTipFavorite {
    visibility: visible;
}

.doneDisplay:hover .toolTipFavorite {
    visibility: visible;
}

.favoriteButton:hover .toolTipFavorite{
    visibility: visible;
}

.doneButton:hover .toolTipFavorite{
    visibility: visible;
}

.newTicketPopUp {
    position: fixed;
    z-index: 4;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}

  .formStyle{
	font-family:'Exo';
	width: 500px;
	padding: 30px;
	background: #FFFFFF;
	margin: 0px auto;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
  }

.formStyle .popUpHeader{
	background: #4D4D4D;
    text-transform: uppercase;
	font-family: 'Exo';
	color: #797979;
	font-size: 18px;
	font-weight: 100;
	padding: 20px;
    margin: -30px -30px 30px -30px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.formStyle .popUpHeader h2 {
    align-self: center;
}

.formStyle input[type="text"],
.formStyle input[type="email"],
.formStyle textarea
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	padding: 7px;
	border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
	margin-bottom: 10px;
	font: 16px Arial, Helvetica, sans-serif;
	height: 45px;
}

.formStyle textarea{
	resize:none;
	overflow: hidden;
}

.formStyle input[type="submit"]{
	-moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
	-webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
	box-shadow: inset 0px 1px 0px 0px #45D6D6;
	background-color: #2CBBBB;
	border: 1px solid #27A0A0;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	font-family: 'Exo';
	font-size: 14px;
	padding: 8px 18px;
	text-decoration: none;
	text-transform: uppercase;
}

.formStyle button:hover,
.formStyle input[type="submit"]:hover {
	background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
	background-color:#34CACA;
}

.formStyle button {
	-moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
	-webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
	box-shadow: inset 0px 1px 0px 0px #45D6D6;
	background-color: #2CBBBB;
	border: 1px solid #27A0A0;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	font-family: 'Exo';
	font-size: 14px;
	padding: 8px 18px;
	text-decoration: none;
    text-transform: uppercase;
}